# NetBeans specific files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
target/
nbproject/
nb-configuration.xml
nbactions.xml

# Class Files #
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# NetChess specific files #
*.log*
registered_users.xml

# IDEA
.idea
*.iml
